body {
	font-family: 'Montserrat', sans-serif;
}

/* Editando o cabeçalho */

header {
	background: #BBBBBB;
	padding: 20px 0; /*cespaçamento interno,  para que tudo no cabeçalho fique dentro dos limites*/
}

.caixa {
	position: relative; /* para levantar a caixa */
	width: 940px; /* largura padrão */
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px; /* espaçamento externo (a esquerda) */
}

nav a {
	text-transform: uppercase; /* letra maiuscula */
	color: #000000;
	font-weight: bold; /* negrito */
	font-size: 22px; /* tamanho da fonte */
	text-decoration: none; /* remove sublinhado */
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline; /* sublinhado quando o mouse passar por cima */
}

/* Editando a lista de itens dos produtos */

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0; /* aumentar o espaçamento interno*/
}

.produtos li {
	display: inline-block;
	text-align: center; /* para alinhar o conteudo no centro */
	width: 30%; /* mexer na distribuição */
	vertical-align: top; /* alinhando pela linha de cima para corrigir o inline-block*/
	margin: 0 1.5%; /* colocando espaço entre as listas */
	padding: 30px 20px; 
	box-sizing: border-box; /* para corrigir espaçamento lateral dentro do percentual */
	border: 2px solid #000000; /* tamanho da linha, conf e tipo e cor*/
	border-radius: 10px;
}

.produtos li:hover{
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19; /* muda a cor ao clicar no elemento */
}

.produtos li:hover h2 {
	font-size: 34px; /* muda o tamanho da fonte que está no titulo */
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin: 10px 0 0;
}

/* Editando Rodapé */

footer {
	text-align: center;
	background: url("/src/imagens/bg.jpg"); /* adiciona uma imagem ao fundo */
	padding: 40px; /* espaçamento interno entre a imagem e o fim do rodapé */
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

/* Editando formulario */

form {
	margin: 40px 0;
	padding: 40px;
}

form label, form legend {
	display: block; /* arrumando display inline(q só ocupam o tamanho do seu conteudo), quebrando essa estrutura */
	font-size: 20px;
	margin: 0 0 10px; /* mexendo no espaçamento externo dos inputs */
}

.input-padrao {
	display: block; /* arrumando display inline(q só ocupam o tamanho do seu conteudo), quebrando essa estrutura */
	margin: 0 0 20px; /* mexendo no espaçamento externo dos inputs */
	padding: 10px 25px; /* mexendo no espaçamento interno dos inputs */
	width: 50%; /* mexendo na largura do input */
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 40px; /* espaçamento externo de 20px pra cima e 40px para baixo*/
	padding: auto;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px ;
}

/* CSS da Página Inicial */
.banner {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left; /* limpa o float da imagem a esquerda jogando beneficios para baixo */
}

.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 150px;
	float: left; /* criar o comportamento do texto em volta do elemento */
	margin: 0 20px 20px 0;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	padding: 3em 0;
	background: #888888;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5; /* altura da linha */
}

.itens:before {
	content: "★";
}

.itens:first-child {
	font-weight: bold;
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;  /* sombra na imagem X, Y, blur(espalhamento da cor), intensidade da borda, sombra, cor */
}

.imagem-beneficios:hover {
	opacity: 0.3;
}

.video {
	width: 560px;
	margin: 2em auto;
}

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}